* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #1c2e4a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: #00b1b3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: -6px 13px 19px 6px hsl(180deg 36% 70% / 18%),
    9px 8px 18px 2px #294470;
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.heading {
  width: 100%;
  background: #667292;
  color: #ffff;
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  text-align: center;
}
.birthInput {
  background: #87bdd8;
  padding: 20px;
  display: block;
}
.result {
  background: #667292;
  padding: 10px;
  border-radius: 0 0 8px 8px;
}
input,
#button {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid rgb(41, 153, 228);
  height: 40px;
  border-radius: 5px;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bolder;
  box-shadow: 3px -1px 9px 12px hsl(180deg 36% 70% / 18%),
    -3px 5px 13px 0px #294470;
}
input::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bolder;
}
h3 {
  text-transform: uppercase;
}
ui {
  width: 50%;
  float: left;
  list-style-type: square;
}
li {
  text-align: justify;
  color: #ffff;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 3px;
}
label {
  margin: 2px;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  display: block;
  font-weight: bolder;
  text-transform: uppercase;
}
#button {
  box-shadow: none;
  padding: 10px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 20px;
  text-transform: capitalize;
  background: #0072b5;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
#button:hover {
  opacity: 0.9;
}
.span {
  color: black;
}
b {
  color: rgb(0, 255, 255);
}
.fotter {
  position: fixed;
  width: 50%;
  bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
}
